* {
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0 30px;
  font-family: 'Amatic SC', cursive;
  font-size: 50px;
  background: url('./assets/img/bg-1.jpg') no-repeat center center;
  background-size: cover;
}

@media (max-width: 1440px) {
  body {
    font-size: 42px;
  }
}

@media (max-width: 680px) {
  body {
    font-size: 38px;
  }
}

@media (max-width: 520px) {
  body {
    font-size: 32px;
  }
}

@media (max-width: 420px) {
  body {
    font-size: 28px;
  }
}

.header {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}

.lang-switcher__btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background-color: transparent;
}

.lang-switcher__btn:hover {
  cursor: pointer;
}

.main {
  height: calc(100vh - 160px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote {
  min-width: 500px;
  text-align: center;
}

@media (max-width: 600px) {
  .quote {
    min-width: 100%;
  }
}

.quote__reload-btn {
  width: 45px;
  height: 45px;
  border: none;
  background: url("./assets/svg/reload.svg") no-repeat center;
  background-size: cover;
  opacity: .75;
  transition: .5s ease-in;
}

.quote__reload-btn:hover {
  transform: rotate(360deg);
  cursor: pointer;
}

.footer {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  font-size: 35px;
}

.footer__year {
  margin-right: auto;
}

.footer__rss {
  width: 100px;
  height: 37px;
  background: url("./assets/svg/rs_school_js.svg") no-repeat center;
  background-size: cover;
  opacity: .77;
}
